$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);


@mixin respond($breakpoint) {
  @if $breakpoint ==sm {
    @media (max-width: 576px) {
      @content;
    }
  }

  @else if $breakpoint ==md {
    @media (max-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint ==lg {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if $breakpoint ==xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-horizontal {
  display: flex;
  justify-content: center;
}

@mixin flex-center-vertical {
  display: flex;
  align-items: center;
}

@mixin box-shadow($color: rgba(0, 0, 0, 0.1)) {
  box-shadow: 0 4px 12px $color;
}

@mixin hover-transition {
  transition: $transition;

  &:hover {
    opacity: 0.9;
  }
}