$primary-color: #0d6efd;
$secondary-color: #6c757d;
$success-color: #198754;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #0dcaf0;
$light-color: #f8f9fa;
$dark-color: #212529;
$main-color: #0DCAF0;
$background-color: #ffffff;
$text-color: #333333;
$header-color : #EDFFFA;
$text-light: #66666600;
$font-family-base: "Roboto", sans-serif;
$font-size-base: 16px;
$container-width: 1200px;
$border-radius: 8px;
$spacing-unit: 1rem;
$transition: all 0.3s ease-in-out;