@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";
@import "../../assets/scss/base";

.footer {
    background-color: $info-color;
    color: #fff;
    padding: 2rem 0 1rem;

    .footer__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 2rem;

        @include respond(md) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        @include respond(sm) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        h4 {
            color: $primary-color;
            margin-bottom: 1rem;
        }

        p,
        a {
            color: $light-color;
            font-size: 0.95rem;
            line-height: 1.6;
        }

        a {
            text-decoration: none;
            @include hover-transition;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .footer__bottom {
        text-align: center;
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        p {
            color: $text-light;
            font-size: 0.9rem;
        }
    }
}