.dashboard-container {
    background-color: #f3f4f6;
    min-height: 100vh;
}

.sh-content {
    margin-left: 230px;
    /* Sidebar width */
    // margin-top: 60px;
    /* NavBar height */
    padding: 24px;
    flex-grow: 1;
}